/*
*   CSS TABLE OF CONTENTS
*
*   1. Sections
*     1.1 section one
*
*
*/

/*** 1. sections ***/

/*** 1.1 section -one ***/
@font-face {
  font-family: 'Eraser-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Eraser-Regular'), url('../assets/EraserRegular.woff') format('woff');
}

.menu-section-one {
  height: 90vh;
}

.menu-section-one > h1 {
  width: auto;
  border-bottom: 3px solid black;
}

.menu-image-container {
  position: relative;
  width: 100%;
  box-shadow: 3px 0 50px rgba(94, 88, 88, 0.842);
}

.menu-text-container {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 0 0 5rem;
}

.menu-text-container * {
  color: rgb(247, 240, 240);
  font-family: 'Eraser-Regular';
}

.menu-text-container > h1 {
  margin: 0 0 2rem 0;
  font-size: 100px;
}

.menu-text-container > h4 {
  font-size: 80px;
}
