/*
*   CSS TABLE OF CONTENTS
*  
*   1. Sections
*     1.1 section one
*  
*
*/
/*** 1. section one ***/

.plate-section-one {
  height: 90vh;
}

.plate-container {
  padding:5rem 10rem 5rem 10rem;
  background: url('../assets/plate/plate.png') no-repeat;
  background-position: center;
  background-size: 80%;
}

.food-box {
  height: 33.3%;
  width: 33.3%;
}