@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap" rel="stylesheet');

/*
*   CSS TABLE OF CONTENTS
*  
*   1. Variables
      1.1 Colors
*   2. Globals
*   3. Wrapper
*   4. Navbar
*   5. main
*     5.1 section one
*
*/

/*** 1. Variables ***/
/*** 1.1 Colors ***/
$mainBackgroundColor: #f8f8f8;

/** 1.2 fonts **/
$mainFont:  'Raleway', sans-serif;
$logoFont: 'Montserrat', sans-serif;

/*** 2. Globals ***/
/*** 2.1 Globals - fonts ***/
* {
  font-family: $mainFont;
}

.main-font {
  font-family: $mainFont;
  font-weight: 700;
}

.logo-font {
  font-family: $logoFont;
}

/*** 2.2 Globals - display ***/
.fade {
  opacity: 0.3;
}

.h-100vh {
  height: 100vh;
}

/*** 2.3 Globals - border ***/
.custom-border {
  border: 2px dashed red;
}

.divider-line {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
}

.divider-line::before,
.divider-line::after {
  content: '';
  align-self: center;
  flex: 1 1 0;
  width: 40%;
  margin: 0 2rem;
  // border-bottom: 2px solid black;
  border: 2px solid; border-image: linear-gradient(90deg, rgba(60,74,83,.00) 40%, black)1; border-left:none; border-top:none; border-right:none;  
}

.divider-line::after {
  border: 2px solid; border-image: linear-gradient(-90deg,  rgba(60,74,83,.00) 40%,black) 1; border-left:none; border-top:none; border-right:none;  
}

/*** 3. Wrapper ***/
.main {
  background-color: $mainBackgroundColor;
}

/*** 4. Navbar ***/
.navbar_container {
  position: fixed;
  right: 1%;
  top: 30%;
  width: auto;
}

.nav-link {
  color: black;
  font-size: 1rem;
  font-weight: 800;
  transition: transform 0.2s linear;
}

.nav-link:hover,
.nav-link:active {
  color: black;
  transform: scale(1.2);
}

/*** 5. Main ***/
/*** 5.1 section one ***/
/*** 5.1.1 section one -- Home***/
.home_section-one {

}

.logo-container {
  height: 12%;
}

.logo {
  font-weight: 900;
  font-size: 3vw;
}

.main-image-container {
  position: relative;
  height: 87%;
  width: auto;
}

.main-image-container::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f8f8f8, rgba(255, 255, 255, 0) 10%), linear-gradient(to bottom, #f8f8f8, rgba(255, 255, 255, 0) 20%), linear-gradient(to left, #f8f8f8, rgba(255, 255, 255, 0) 20%),linear-gradient(to top, #f8f8f8, rgba(255, 255, 255, 0) 20%);
}

.main-image {
  width: 100%;
  height: 100%;
}
